/* Request */
.page-template-default {
    .gform_wrapper {
        .gform_next_button,
        .gform_previous_button {
            display: inline-block;
            cursor: pointer;
            font-family: $font-primary;
            border-radius: 10rem;
            margin-top: 2rem;
            padding: 1rem 3rem;
            font-weight: 700;
            font-size: 1.8rem;
            transition: .3s ease all;
            border: none;
            border: 2px solid $color-primary;
            background-color: transparent;
            color: $color-primary;
            overflow: hidden;
            position: relative;
            &:hover {
                background-color: $color-primary;
                color: #FFF;
            }
        }
        .gform_button {
            display: inline-block;
            cursor: pointer;
            font-family: $font-primary;
            border-radius: 10rem;
            margin-top: 2rem;
            padding: 1rem 3rem;
            font-weight: 700;
            font-size: 1.8rem;
            transition: .3s ease all;
            border: none;
            border: 2px solid $color-primary;
            background-color: $color-primary;
            color: white;
            overflow: hidden;
            position: relative;
            &:hover {
                background-color: transparent;
                color: $color-primary;
            }
        }
        .gf_progressbar_wrapper h3.gf_progressbar_title {
            margin: 0 !important;
            margin-bottom: 1rem !important;
        }
        .gform_page_footer {
            border: none;
        }
        .gf_progressbar {
            background: none;
            box-shadow: none;
            padding: 0;
            border-radius: 0;
            &:after {
                border-radius: 0;
                box-shadow: none;
                height: 16px;
                margin-top: -16px;
            }
        }
        .percentbar_blue {
            border-radius: 0;
            background-color: $color-primary;
        }
        .gf_progressbar_percentage.percentbar_100 {
            border-radius: 0;
        }
        .gf_progressbar_percentage {
            background: none;
            background-color: $color-primary;
            font-size: 1rem!important;
            height: 16px;
            span {
                line-height: 1.5;
                font-weight: 600;
            }
        }
        input,
        textarea {
            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
              color: rgba(0,0,0,0.4);
            }
            &::-moz-placeholder { /* Firefox 19+ */
              color: rgba(0,0,0,0.4);
            }
            &:-ms-input-placeholder { /* IE 10+ */
              color: rgba(0,0,0,0.4);
            }
            &:-moz-placeholder { /* Firefox 18- */
              color: rgba(0,0,0,0.4);
            }
        }
        .gfield {
            margin-top: 0;
            margin-bottom: 2rem;
            &.gfield_error {
                background-color: transparent;
                margin-bottom: 0!important;
                border: none;
                padding-bottom: 0;
                padding-top: 0;
                padding-right: 16px !important;
                box-sizing: none;
                input {
                    border-color: #D43F3F !important;
                }
            }
            .validation_message {
                display: none;
            }
            &.firstname,
            &.lastname,
            &.income,
            &.half,
            &.personal-info {
                width: 50%;
                display: inline-block;
            }
            &.income {
                .ginput_container_number {
                    position: relative;
                    &:after {
                        content: 'per jaar';
                        display: block;
                        position: absolute;
                        top: 1.7rem;
                        right: 0;
                        font-size: 1.8rem;
                        opacity: .4
                    }
                }
            }
            &.question {
                margin: 3rem 0;
                .gfield_radio {
                    li {
                        position: relative;
                        input {
                            position: absolute;
                            opacity: 0;
                            &:checked + label  {
                                &:before {
                                    border-color: $color-primary;
                                    background-color: $color-primary;
                                }
                            }
                        }
                        label {
                            padding-left: 1rem;
                            &:before {
                                content: '';
                                display: block;
                                position: absolute;
                                left: 0;
                                top: .2rem;
                                width: 2rem;
                                height: 2rem;
                                border: 3px solid rgba(0,0,0,.1);
                                transition: .3s all ease-in-out;
                                background-image:url(../img/icon-check.svg);
                                background-position: center center;
                                background-repeat: no-repeat;
                                background-size: 70%;
                            }
                        }
                    }
                }
            }
            &.persons {
                ul {
                    li {
                        position: relative;
                        width: 50%;
                        display: inline-block;
                        &:first-child {
                            label {
                                &:before {
                                    content: '';
                                    background-image:url(../img/icon-person.svg);
                                }
                            }
                        }
                        &:last-child {
                            label {
                                &:before {
                                    content: '';
                                    background-image:url(../img/icon-persons.svg);
                                }
                            }
                        }
                        input {
                            opacity: 0;
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 100%;
                            width: 100%;
                            margin: 0;
                            cursor: pointer;
                            &:checked + label  {
                                background-color: #FFF;
                                border-color: $color-primary;
                                color: $color-primary;
                                font-weight: 500;
                                &:before {
                                    content: '';
                                }
                                &:after {
                                    opacity: 1;
                                    transform: scale(1);
                                }
                            }
                        }
                        label {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            width: calc(100% - 1.6rem);
                            height: 15rem;
                            border: 3px solid rgba(0,0,0,.1);
                            padding: 1rem;
                            margin: 0;
                            max-width: 100%;
                            transition: all 300ms ease;
                            font-size: 1.8rem;
                            font-weight: 500;
                            text-align: center;
                            color: $color-primary;
                            &:before {
                                content: '';
                                display: block;
                                width: 3rem;
                                height: 3rem;
                                background-size: contain;
                                background-repeat: no-repeat;
                                background-position: center center;
                                margin-bottom: 2rem;
                            }
                            &:after {
                                content: '';
                                background-color: $color-primary;
                                background-image: url(../img/icon-check.svg);
                                background-position: center center;
                                background-size: 40%;
                                background-repeat: no-repeat;
                                width: 3.6rem;
                                height: 3.6rem;
                                border-radius: 50%;
                                position: absolute;
                                top: .8rem;
                                right: 3.6rem;
                                z-index: 9;
                                opacity: 0;
                                transform: scale(.8);
                                transition-delay: .3s;
                                transition: transform 300ms ease, opacity 300ms ease;
                            }
                        }
                    }
                }
            }
            input,
            textarea {
                width: 100% !important;
                position: relative !important;
                padding: 1rem 0 !important;
                border: none !important;
                border-bottom: 3px solid rgba(0,0,0,0.1) !important;
            }
            textarea {
                border: 3px solid rgba(0,0,0,0.1) !important;
                padding: 2rem !important;
                margin-top: 4rem;
            }
        }
    }
}
