// Image
.object-fit__container {
	padding-bottom: 56.25%;
	overflow: hidden;
	position: relative;
	img{
		object-fit: cover;
		width: 100%;
		height: 100%;
		position: absolute;
	}
}
.image__section {
    .padding-small {
        padding: 6rem 0;
    }
    p {
        font-size: 1.6rem;
		font-style: italic;
    }
}
