.quote{
    .carousel {
        width: 100%;
        &:focus {
            outline: none;
        }
    }
	.carousel-cell{
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		transition: $transition-secondary;
	}
	&__text{
		font-size:4.8rem;
		color: $dark;
		line-height: 1.375em;
		margin-bottom: 3rem;
		position: relative;
		&:before{
			content:'”';
            color: $color-primary;
            font-family: 'Arial';
			position: absolute;
			background-size: contain;
			background-position: center center;
			background-repeat: no-repeat;
			height: 15rem;
			width: 15rem;
			left: 50%;
            transform: translateX(-50%);
			top: -8rem;
            font-size: 20rem;
		}
	}
	.flickity-page-dots {
        padding: 0;
	    margin: 5rem 0 0 0;
        bottom: 0;
        position: relative;
        text-align: center;
		.dot{
			width: 1.2rem;
			border-radius: 50%;
			height: 1.2rem;
			background-color: transparent;
            border: 2px solid $color-primary;
            opacity: 1;
            margin: 0 0.5rem;
            display: inline-block;
			&.is-selected{
				background-color: $color-primary;
                border: 2px solid $color-primary;
			}
		}
	}
	.flickity-viewport{
		overflow: visible;
	}
}
