// Text in image
.textimage__section{
	.row {
		&.text_image{
			flex-direction:row-reverse;
		}
		&.image_text {
            .text_block {
                justify-content: flex-end;
            }
		}
		.blocks_wrapper{
			display:flex;
	        .text_block {
	            display: flex;
	            align-items: center;
	        }
			.block_wrapper{
				.text_wrapper{
					max-width: 45rem;
	                padding: 13rem 0;
				}
				.button{
					display: inline-block;
					margin-top: 2rem;
				}
			}
		}
		.object-fit__container{
	        height: 100%;
		}
	}
}
