.imageblock {
    &__wrapper {
        padding: 5rem;
        color: white;
        min-height: 50rem;
        position: relative;
        display: flex;
        align-items: flex-end;
        background-size: cover;
        background-position: center center;
    }
    &__content {
        z-index: 1;
        position: relative;
    }
    .button {
        margin-top: 2rem;
    }
    &__text {
        $font-size: 1.8rem;
        $line-height: 1.75;
        $lines-to-show: 2;
        color: white;
        display: block; /* Fallback for non-webkit */
        display: -webkit-box;
        height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
        font-size: $font-size;
        line-height: $line-height;
        -webkit-line-clamp: $lines-to-show;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
    }
}
